
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="signup.css">
    <title>login</title>
</head>
<body>
<div class="container">
    <form id="form" class="form" autocomplete="off" action="" method="POST">
        <h2>Login</h2>
   
        <div class="form-control">
            <label for="email">Email</label>
            <input type="text" id="username" name="username" value="" placeholder="Enter email">
        </div>
        <div class="form-control">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" value="" />
            <input type="hidden" id="user-id" name="user-id" value="" />
        </div>
     
        <button  id="login-btn"  type="submit">Login</button>
        <p>incorrect pass or username</p>
    </form>
    

</body>

</html>
