* {
    margin: 0;
    padding: 0;
    border: 0;
  
  }
  body{
    background:gray;

  }
  
  .div1 {
    border-radius: 30%;
    margin-top: 5%;
    margin-left: 22%;
    border-radius: 16px;
    align-content: center;
    width: 50%;
    padding-left: 12px;
    padding-top: 10px;
    background-color: white;
  }
  
  body {
    background-color: #303030;
  }
  
  nav {
    color: white;
  }
  
  ul {
    list-style: none;
    display: inline;
  }
  
  input[type=text] {
    outline: none;
    height: 42px;
  }
  
  input[type=date] {
    outline: none;
    height: 42px;
    margin-left: 2px;
  }
  
  #logout {
    color: white;
    cursor: pointer;
    border: 1px solid white;
    margin-left: 60px;
  }
  /* ///// */
  .btn-group button {
   background-color: white;
    color: #303030;
    padding: 5px 20px; 
    margin-top: 3px;
    cursor: pointer; 
    float: left; 
    border-radius: 3px;
  }
  .btn-group button:not(:last-child) {
    border-right: none; 
  }
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
.btn-group{
  margin-left: 111px;
    margin-bottom: 4px;
    margin-top: 0px;
}